<h3>Create your own Quote</h3>

<form (ngSubmit)="addQuote()">
  <div class="card border-success mb-3" style="max-width: 18rem">
    <input type="text" placeholder="Your Name" [(ngModel)]="name" name="name" />

    <textarea placeholder="Type in your quote" [(ngModel)]="content" name="content" ></textarea>

    <input type="text" placeholder="Name of Author" [(ngModel)]="author" name="author" />
    <div>
      <button type="submit" style="width: 50%">Clear</button>
      <button type="submit" style="width: 50%">Create Quote</button>
    </div>
  </div>
</form>
